{% extends "@EasyjetSwissinsideCore/Mail/structure.html.twig" %}

{% block content %}

    <div id="content">
        <div id="content-header">
            <h1 id="titre_help">Reminder</h1>         
            <div id="description_help">Reminder to provide easyJet Switzerland with your external duties hours</div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>Dear {{ monthlyReport }},</p>

                <p>You received this automatic email as you benefit from an external employment authorisation and, so far, you did not record any hours this month.<br>
                If you didn't do any external duty hours this month, please go to <a href="{{ swissinsideUrl }}{{ path('fdtr_list_index') }}" target="_blank">(link)</a> which will take you into the Swissinside EDTR application. Click and confirm "No external duty this month".<br/>
                If you fail to do so the next 3 continuous months, your account will be locked.<br/>
                Should the link not work, please go to {{ swissinsideUrl }} and in the EDTR tab to perform this duty.
                </p>



                <p>Regards</p>
                <p>EZS Flight Ops team</p>
            </div>         
        </div>
    </div>

{% endblock %}   