<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <style type="text/css">
            .menu
            {
                font-family:Verdana, Arial, Helvetica, sans-serif;
                color:black;
                font-size:10px;
            }

            .info
            {
                font-family:Verdana, Arial, Helvetica, sans-serif;
                font-size:12px;
                font-style:italic ;
                color:#006666 ;
            }s

            .texte_normal
            {
                color:#000000;
                font-family:Verdana, Arial, Helvetica, sans-serif;
                font-size:12px;
            }


            .menu a
            {
                font-family:Verdana, Arial, Helvetica, sans-serif;
                color:#000000
            }

            .menu a:hover
            {
                color:#ff6600
            }

            .menu_tableau
            {
                font-family:Verdana, Arial, Helvetica, sans-serif;
                color:white;
                font-size:10px;
            }

            .menu_tableau a
            {
                font-family:Verdana, Arial, Helvetica, sans-serif;
                color:white;
                font-size:10px;
                text-decoration:none;
            }

            .menu_tableau a:hover
            {
                font-family:Verdana, Arial, Helvetica, sans-serif;
                color:black;
                font-size:10px;
                text-decoration:none;
            }




            .ajouts
            {
                color:black;
                text-decoration:none;
                font-size:10px;
                font-family:Verdana, Arial, Helvetica, sans-serif;
            }

            td.normal
            {
                background-color:#E9E9E9;
            }

            td.fonce
            {
                background-color:#CECECE;
            }


            .ajouts a
            {
                color:black;
                text-decoration:none;
                font-size:10px;
                font-family:Verdana, Arial, Helvetica, sans-serif;
            }

            .ajouts a:hover
            {
                color:#ff6600;
            }
        </style>
    </head>

    <body>
        <div align="center">
            <table width="100%" border="0" cellspacing="1" cellpadding="0">
                <tr bgcolor="#ff6600">
                    <td colspan="2" align="left" valign="top" class="menu_tableau">&nbsp;Day off Request </td>
                </tr>
                <tr class="ajouts">
                    <td width="120" align="left" valign="top" class="fonce">Status :</td>
                    <td class="normal">{{ status }}</td>
                </tr>
                <tr class="ajouts">
                    <td align="left" valign="top" class="fonce">Date :</td>
                    <td class="normal">{{ date }}</td>
                </tr>
                <tr class="ajouts">
                    <td align="left" valign="top" class="fonce">Requested day  :</td>
                    <td class="normal">{{ requestedDate }}</td>
                </tr>
                <tr class="ajouts">
                    <td align="left" valign="top" class="fonce">Comment :</td>
                    <td class="normal">{% autoescape false %}{{ comment }} {% endautoescape %}</td>
                </tr>
            </table>
        </div>
    </body>
</html>
