{% extends "@EasyjetSwissinsideCore/Mail/structure.html.twig" %}

{% block content %}

{% autoescape false %}
    <p>Hello,</p>
    <p>This is to inform you that the EJINT097 (swiss payslips and GtN) has been successfully transfered on your FTP</p>

    <p>
        Best regards,<br>
        Swissinside Robot
    </p>
    
{% endautoescape %}

{% endblock %}
