{% extends "EasyjetSwissinsideCoreBundle:Base:swissinsideStructure.html.twig" %}

{% block sidebar %}{% endblock sidebar %}

{% block container %}
<div id="content">
    <div id="content-header">
        <h1 id="titre_help">&nbsp;</h1>

    </div>

    <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-bell"></i>
                </span>
                <h5>Access to inside</h5>
            </div>
            <div class="widget-content">
                <p>You are trying to reach the inside from outside the easyjet network.
                    From home, you should follow this link <a href="https://connected.s4a.aero">https://connected.s4a.aero</a>. Then go on the inside. To have more information about how to access from home,
                    use the <a href="http://swissinside/wiki/index.php/Crew_-_How_to_access_on_inside_from_home">wiki</a>.</p>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock container %}
