<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-title"><span class="icon"><i class="icon-home"></i></span><h5>Important information</h5></div>
            <div class="widget-content">
                <p>Dear {{ myself }},</p>
                <p>
                    <b>Swiss switchover to new HR system and payslip processes</b>
                </p>
                <p>
                    easyJet is introducing a new global HR system and Swiss
                    colleagues will be making the switch next month. On 9 August,
                    uMan will be replaced by Workday.
                </p>

                <h4>Changes to uMan</h4>
                <p>Here's what you need to know and do:
                  <ul>
                    <li>
                      uMan will be frozen from 28 July so you won’t be able to
                      make changes to your personal details in UMan from now on.
                    <li>
                      you won’t be able to add or remove dependants on Staff
                      Travel, but you can still change Significant Others
                    </li>
                    <li>
                      eLeave will be available for crew during the freeze period
                    </li>
                    <li>
                      eLeave will be unavailable for M&A from 6pm on 28 July
                    </li>
                    <li>from 9 August you’ll be able to add your dependants or
                    make changes to your personal details in Workday, and if
                    you’re M&A you’ll be able to use Workday to request leave</li>
                  </ul>
                </p>

                <h4>Changes to ePayslip</h4>
                <p>Workday will also replace ePayslip. Here's what you need to know:
                  <ul>
                    <li>the last ePayslip will be published at the end of August</li>
                    <li>ePayslip will still be available to view payslips before August 16</li>
                    <li>from September your payslips will be published in Workday</li>
                  </ul>
                </p>

                <p>
                  More information will follow in email communications. If you need
                  any information or support, your HR team are here to help.
                  Just send a note to swissHR@easyJet.com
                </p>

                <p>
                    Thanks for your attention,<br>
                    Yours, sincerely <br>
                    HR team
                </p>


            </div>
        </div>
    </div>
</div>
